{% extends 'base.html' %}

{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title> Register User </title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .card {
            width: 400px;
        }

        .btn-outline-primary {
            transform: translateX(100px);
            width: 200px;
        }

        .heading {
            font-size: 3rem;
            padding: 3%;

        }

        .mb-3 {
            padding: 1%;
        }
    </style>
</head>

<body>
    <center>
        <!-- <form  method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <h2 class="temp"> Register yourself! </h2>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ form.email.label }}: </label>
                {{ form.email }}
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div><br>
            <div class="mb-3">
                <label for="exampleInputText1" class="form-label">{{ form.username.label }}: </label>
                {{ form.username }}
            </div><br>
            <div class="mb-3">
                <label for="exampleInputText1" class="form-label">{{ form.full_name.label }}: </label>
                {{ form.full_name }}
            </div><br>
            <div class="mb-3">
                <label for="exampleInputImage1" class="form-label">{{ form.profile_pic.label }}: </label>
                {{ form.profile_pic }}
            </div><br>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{form.password1.label}}: </label>
                {{form.password1}}
            </div>
            <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                spaces,
                special characters, or emoji.
            </div><br><br>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{form.password2.label}}: </label>
                {{form.password2}}
            </div>
            <div id="passwordHelpBlock" class="form-text">
                Type your password again to confirm
            </div><br><br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form> -->
        <h2 class="temp heading">SIGN IN &nbsp; <i class="fas fa-user-plus"></i></h2><br><br>

        <form class="card" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="mb-3" data-toggle="tooltip" data-placement="right"
                title="We'll never share your email with anyone else.">
                <label for="exampleInputEmail1" class="form-label">{{ form.email.label }}: </label>
                {{ form.email }}
            </div>
            <br>
            <div class="mb-3">
                <label for="exampleInputText1" class="form-label">{{ form.username.label }}: </label>
                {{ form.username }}
            </div><br>
            <div class="mb-3">
                <label for="exampleInputText1" class="form-label">{{ form.full_name.label }}: </label>
                {{ form.full_name }}
            </div><br>
            <div class="mb-3" data-toggle="tooltip" data-placement="right"
                title="(Only .jpeg, .jpg, .pdf files allowed And File size between 15 KB To 256 KB)">
                <label for="exampleInputImage1" class="form-label">&nbsp;{{ form.profile_pic.label }}: </label>
                {{ form.profile_pic }}
            </div><br>
            <div class="mb-3" data-toggle="tooltip" data-placement="right"
                title=' Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,special characters, or emoji.'>
                <label for="exampleInputPassword1" class="form-label">{{form.password1.label}}: </label>
                {{form.password1}}
            </div>
            <br>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{form.password2.label}}: </label>
                {{form.password2}}
            </div>
            <br><br>
            <button type="submit" class="btn btn-lg btn-outline-primary">Register</button>
            {{ form.errors }}
        </form>
    </center>
</body>

{% endblock %}