{% extends 'base.html' %}

{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Update Todo </title>
</head>

<body>
    <h2>Update {{todo.task}}</h2>
    <form class="form temp" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Update"/>
    </form>
</body>

{% endblock %}